CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
out/
cmake-build-release/
cmake-build-release-linux/
cmake-build-release-coverage/
cmake-build-debug/
cmake-build-debug-linux/
.vscode/
build/
/.idea/
build_release/
/.vs
/IO.Astrodynamics.Net/IO.Astrodynamics/pykep
