# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Astrodynamics CD

on:
  push :
      tags:
        - 'v*'
  workflow_dispatch:
    inputs:
          logLevel:
            description: 'Log level'
            required: true
            default: 'warning'
            type: choice
            options:
            - info
            - warning
            - debug
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./IO.Astrodynamics.Net
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration Release
    - name: Test
      run: dotnet test --no-build --verbosity normal --configuration Release
    - name: where i am
      run: pwd
    - name: Package Framework
      run: dotnet pack -p:NuspecFile=IO.Astrodynamics.nuspec --no-build --configuration Release 
    - name: Publish package
      run: dotnet nuget push "**/*.nupkg" --api-key ${{secrets.NUGET_TOKEN}} --source https://api.nuget.org/v3/index.json
